* {
    margin: 0;
    padding: 0;
  }
  
  html,
  body {
    height: 100%;
  }

  #login_container {
    display: flex;
    height: 100%;
    background-color: black;
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }

  .name {
    text-align: center;
    color: white;
  }
  