* {
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
}

#game_container {
  display: flex;
  height: 100%;
  background-color: black;
  align-items: center;
  flex-direction: column;
}


.name {
  text-align: center;
  color: white;
}


#grid_container {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

#grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 5px;
  padding: 10px;
  box-sizing: border-box;
}

.grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 5px;
  padding: 10px;
  box-sizing: border-box;
}

.playerGridStyle {
  float: inline-start;
}

.playersGrid{
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 5px;
  padding: 10px;
  box-sizing: border-box;
}

.playerTitle {
  color: crimson;
  justify-content: center;
  align-items: center;
}

.col-sm-3 {
  display: flex;
  border: 2px solid rgb(58, 58, 60);
  min-width: 30px;
  min-height: 30px;
  font-size: 2rem;
  color:white;
  justify-content: center;
  text-transform: uppercase;
}

.flipping {
  animation: flip 0.5s ease;
}

@keyframes flip {
  0% {
    transform: scaleY(1);
  }
  50% {
    transform: scaleY(0);
  }
  100% {
    transform: scaleY(1);
  }
}

#key-container {
  height: 200px;
}

.row {
  display: flex;
  justify-content: center;
  width: 100%;
  margin: 0 auto 5px;
  touch-action: manipulation;
}

.row input{
  height: 60px;
  width: 50px;
  cursor: pointer;
  background-color:dimgray;
  color: white;
  margin-right: 5px;
  text-transform: uppercase;
}

