
</html> 

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="../main.css">

    <title>Wordle Gamer!</title>
    <!-- defer means that the JS code is executed after the DOM is fully built -->
    
</head>
<body>
    <div id="game_container">
        <header>
            <h1 class="name">Wordle</h1>           
        </header>
        <div id="grid_container">
            <div id="grid"></div>
        </div>

        <div id="key-container">
            <div class="row">
                <input type="button" class="btn btn-primary ml-3" value="Q">
                <input type="button" class="btn btn-primary ml-3" value="W">
                <input type="button" class="btn btn-primary ml-3" value="E">
                <input type="button" class="btn btn-primary ml-3" value="R">
                <input type="button" class="btn btn-primary ml-3" value="T">
                <input type="button" class="btn btn-primary ml-3" value="Y">
                <input type="button" class="btn btn-primary ml-3" value="U">
                <input type="button" class="btn btn-primary ml-3" value="I">
                <input type="button" class="btn btn-primary ml-3" value="O">
                <input type="button" class="btn btn-primary ml-3" value="P">
            </div>
            <div class="row">
                <div class="space"></div>
                <input type="button" class="btn btn-primary btn-lg" value="A">
                <input type="button" class="btn btn-primary btn-lg" value="S">
                <input type="button" class="btn btn-primary btn-lg" value="D">
                <input type="button" class="btn btn-primary btn-lg" value="F">
                <input type="button" class="btn btn-primary btn-lg" value="G">
                <input type="button" class="btn btn-primary btn-lg" value="H">
                <input type="button" class="btn btn-primary btn-lg" value="J">
                <input type="button" class="btn btn-primary btn-lg" value="K">
                <input type="button" class="btn btn-primary btn-lg" value="L">
                <div class="space"></div>
            </div>
            <div class="row"> 
                <input type="button" class="btn btn-primary ml-3" value="Enter">
                <input type="button" class="btn btn-primary ml-3" value="Z">
                <input type="button" class="btn btn-primary ml-3" value="X">
                <input type="button" class="btn btn-primary ml-3" value="C">
                <input type="button" class="btn btn-primary ml-3" value="V">
                <input type="button" class="btn btn-primary ml-3" value="B">
                <input type="button" class="btn btn-primary ml-3" value="N">
                <input type="button" class="btn btn-primary ml-3" value="M">
                <input type="button" class="btn btn-primary ml-3" value="Delete">
            </div>
        </div>
        <div id="playersGrid"></div>
    </div>
</body>
    <script src="../Game.js"></script>
</html>