<!DOCTYPE html>
<html>
<head>
        <link rel="stylesheet" href="../loginStyle.css">
        <title>World Too Login</title>

</head>
<body>
        <div id="login_container">
                <header>
                        <h1 class="name">Wordle</h1>
                </header>
                <div>
                        <!-- bootstrap labels and buttons? -->
                        <label for="UserName" style="color:white;">Enter UserName</label>
                        <input type="text" id="userName" name="userName">
                        </div>
                        <div>
                        <label for="Password" style="color:white;">Enter Password</label>
                        <input type="text" id="userPassword" name="userPassword">
                        </div>
                        <div class="button">
                        <button id="LoginSubmit" type="submit">Login</button>
                        <button id="registerSubmit" type="submit">Register</button>
                        </div>
        </div>
</body>

<script src="loginSetup.js"></script>
</html>