<!DOCTYPE html>
<html>
<head>
<title>World Too Login</title>

</head>
<body>
<h1>Wordle too</h1>    
        <div>
        <label for="UserName">Enter UserName</label>
        <input type="text" id="userName" name="userName">
        </div>
        <div>
        <label for="Password">Enter Password</label>
        <input type="text" id="userPassword" name="userPassword">
        </div>
        <div class="button">
        <button id="LoginSubmit" type="submit">Login</button>
        <button id="registerSubmit" type="submit">Register</button>
        </div>
</body>

<script src="loginSetup.js"></script>
</html>