<!DOCTYPE html>
<html>
<head>

<title>Queuing for Wordle 2</title>
</head>
<body>
<h1>Queue</h1>

<div id = "PlayerQueueList">
        
</div>

<div>
        <button id="QueueLeave" type="submit">Leave Queue</button>
        <div>
                <input type="text" id="GMWord" name="GMWord">
                <input id="isGMGame" type="checkbox" name="Game Master">
                <label for="Game Master">Game Master Wordle</label>
        </div>
        
</div>

</body>

<script type="text/javascript" src="../QueueService.js"></script>
</html> 