<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="../queueStyle.css">
<title>Queuing for Wordle 2</title>
</head>
<body>
<div id="queue_Container">
        <header>
                <h1 class = "name"> Queue</h1>
        </header>
                

        <div id = "PlayerQueueList" style="color:white;">
                
        </div>

        <div>
                <button id="QueueLeave" type="submit">Leave Queue</button>
                <div>
                        <input type="text" id="GMWord" name="GMWord">
                        <input id="isGMGame" type="checkbox" name="Game Master">
                        <label for="Game Master"  style="color:white;">Game Master Wordle</label>
                        <p style="color:white;"><br>
                                <br> To choose a guessed word and 
                                <br> not participate, enter a five 
                                <br> letter word of your choice and click 
                                <br> on the 'Game Master Wordle' checkbox,
                                <br> else leave those blank to play Wordle</p>
                </div>
                
        </div>
</div>


</body>

<script type="text/javascript" src="../QueueService.js"></script>
</html> 