<!DOCTYPE html>
<html>
<head>
<title>World Too Register</title>

</head>
<body>
<h1>Wordle too</h1>    
        <div>
        <label for="UserName">Register UserName</label>
        <input type="text" id="userName" name="userName">
        </div>
        <div>
        <label for="Password">Register Password</label>
        <input type="text" id="userPassword" name="userPassword">
        </div>
        <div class="button">
        <button id="RegisterSubmit" type="submit">RegisterSubmit</button>
        </div>
</body>

<script src="registerSetup.js"></script>
</html> 